@import url(http://fonts.googleapis.com/css?family=Oswald);
body {
  margin-top: 1em;
  background: url("../img/tactile_noise.png"); }

.wrapper {
  background: #fff; }

.brand {
  font-family: "Oswald", sans-serif; }
  .brand .brand-logo {
    font-size: 40px; }
  .brand .brand-tagline {
    font-size: 27px; }

.separator {
  background: #777;
  height: 2px;
  margin: 25px 0;
  width: 100%; }
