@import url(http://fonts.googleapis.com/css?family=Raleway|Oswald);
/* LAYOUT */
body {
  margin-top: 1em; }

.page-title {
  margin-top: 0;
  margin-bottom: 30px; }

.paragraph-title {
  margin-top: 25px; }

/* THEME */
body {
  background: url('../img/tactile_noise.png');
  font-family: 'Raleway', sans-serif; }

.wrapper {
  background: #fff; }

h1, h2, h3, h4, h5, h6, .brand {
  font-family: 'Oswald', sans-serif; }

.brand .brand-text {
  font-size: 40px; }
.brand .brand-tagline {
  font-size: 27px; }

.highlight {
  color: red; }

.separator {
  background: #777;
  height: 2px;
  margin: 25px 0;
  width: 100%; }
