@import url(http://fonts.googleapis.com/css?family=Oswald);

$font-main: 'Oswald', sans-serif;

$bg-body: url('../img/tactile_noise.png');
$bg-wrapper: #fff;

$color-subtle: #777;

body {
    margin-top: 1em;
    
    background: $bg-body;
    
}
.wrapper {
    background: $bg-wrapper;
}

.brand {
    font-family: $font-main;
    .brand-logo {
        font-size: 40px;
    }
    .brand-tagline {
        font-size: 27px;
    }
}

.separator {
    background: $color-subtle;
    height: 2px;
    margin: 25px 0;
    width: 100%;    
}