@import url(http://fonts.googleapis.com/css?family=Raleway|Oswald);

$font-main: 'Raleway', sans-serif;
$font-title: 'Oswald', sans-serif;

$bg-body: url('../img/tactile_noise.png');
$bg-wrapper: #fff;

$color-subtle: #777;

body {
    margin-top: 1em;    
}
.page-title {
    margin-top: 0;
    margin-bottom: 30px;
}
.paragraph-title {
    margin-top: 25px;
}

body {    
    background: $bg-body;
    font-family: $font-main;
}
.wrapper {
    background: $bg-wrapper;
}


h1,h2,h3,h4,h5,h6,
.brand {
    font-family: $font-title;
}
.brand {
    .brand-text {
        font-size: 40px;
    }
    .brand-tagline {
        font-size: 27px;
    }
}

.separator {
    background: $color-subtle;
    height: 2px;
    margin: 25px 0;
    width: 100%;    
}